*
!/.gitignore

!/.github/
/.github/*
!/.github/workflows/
/.github/workflows/*
!/.github/workflows/deploy-github-pages.yml

!/apps/
/apps/*
!/apps/unEven/
/apps/unEven/*
!/apps/unEven/src/
!/apps/unEven/src/**
!/apps/unEven/public/
/apps/unEven/public/*
!/apps/unEven/public/404.html
!/apps/unEven/public/.nojekyll
!/apps/unEven/index.html
!/apps/unEven/package.json
!/apps/unEven/package-lock.json
!/apps/unEven/tsconfig.json
!/apps/unEven/tsconfig.app.json
!/apps/unEven/tsconfig.node.json
!/apps/unEven/vite.config.ts

!/packages/
/packages/*
!/packages/ui/
/packages/ui/*
!/packages/ui/src/
!/packages/ui/src/**

**/*.md
**/*.svg

/apps/unEven/docs/
/apps/unEven/dist/
/apps/unEven/node_modules/
/apps/unEven/*.tsbuildinfo
/apps/unEven/vite.config.js
/apps/unEven/vite.config.d.ts

/docs/
/playgrounds/
